.MovieCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f7f7f7;
  padding: 1.3em 1.5em;
  margin: 1em;
  width: 300px;
  border-radius: 2px;
  box-shadow: 1px 1px 6px #555;
  transition: all 0.2s ease-in-out;
}

.MovieCard:hover {
  transform: scale(1.02);
}

.MovieCard p {
  font-size: 1.1em;
  margin-bottom: 1.3em;
}

.MovieCard p:first-child {
  color: #239199;
  font-size: 1.45em;
  font-weight: bold;
  margin-bottom: 1.4em;
  text-shadow: 1px 1px 0 #999;
}

.MovieCard span {
  font-weight: bold;
}

.Buttons {
  display: flex;
  justify-content: space-around;
}

.MovieCard button {
  width: 40%;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 1px 1px 0 #999;
  padding: 0.4em 1em;
  margin-top: 1em;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: transparent;
  transition: all 0.2s ease-in-out;
}

.Edit {
  background: #32cad4;
}

.Edit:hover {
  background: #2aabb4;
}

.Delete {
  background: #c03168;
}

.Delete:hover {
  background: #a12957;
}
